<header class="masthead mb-auto">
	<div class="inner">
		<nav role="menu" class="nav bg-white">
			<img src="/images/testio-dark.png">
			<a class="nav-link" href="/">
				<span class="oi oi-account-logout"></span>
			Logout</a>
		</nav>	
	</div>
</header>